*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right , white,rgb(77, 75, 75));
}
#container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    background-color: #000;
    height: 60px;
}
#container .heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}
#container .heading h4{
    color: gray;
} 
#container .heading h4 span{
    color:rgb(182, 178, 178);
}
#container .list ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
#container .list ul li a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 20px;
    font-weight: 600;
    color: gray;
    cursor: pointer;
}
#container .list ul li a:hover{
    color: white;
}
#container .list ul li button{
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    position: relative;
    top: -5px;
    background-image: linear-gradient(180deg,gray,white);
    border-radius: 5px;
    
    
}
#container .list ul li button a{
    color: #000;
 }
#container .list ul li button a:hover{
    color: white;
}
#container .hide{
    color: #fff;
    display: none;
    
}
@media only screen and (max-width:375px){
   
    #container .list ul li button  {
        display: none;
    }
      #container .list ul li a  {
        display: none;
    }
    #container .hide{
        display: block ;
    }
    
}
#main{
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    
}
#main .desc {
    color: rgb(15, 9, 9);
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 150px;  
    
    word-spacing: 10px;
}
#main .desc p{
    color: rgb(37, 25, 25);
}

#main .image img{
    border-radius: 50%;
    border:10px solid #000;
    overflow: hidden;
    position: relative;
    top: 50px;
    width: 450px;
    
}
@media only screen and (max-width:375px){
    #main{
        display: flex;
        flex-direction: column-reverse;
        
    }
    #main .desc{
        text-align: center;
        font-size: 12px;
        position: relative;
        top: -10px;
    }
    #main .image img{
        width: 275px;
        position: relative;
        left: 30px;
        top: -10px;
        
    }
}
#card{
    width: 100%;
    height: 400px;
   
}
#card .heading{
    text-align: center;
    color: rgb(51, 53, 54);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#card .heading span{
    color:black;
}
#card  .card {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
}
#card  .card .card1 ,.card2 ,.card3{
    border: 2px solid black;
    width: 280px;
    border-radius: 10px;
    box-shadow:10px 10px 10px black;
    
}
#card .card .card1 ,.card2 ,.card3 ,h3 ,h4{
    text-align: center;
    color: rgb(51, 53, 54);
    font-family: Arial, Helvetica, sans-serif;
    
}
#card .card .card1 , .card2 , .card3 img{
    padding: 10px 10px;
   
}
@media only screen and (max-width:375px){
    #card .card{
        display: block;
        position: relative;
        left: 50px;
    }
    #card .card .card3{
        position: relative;
        top: 80px;
    }
    #card .card .card2{
        position: relative;
        top: 40px;
    }
}
#Portfolio {
    width: 100%;
    height: 400px;
}
#Portfolio .heading h1 {
    color: rgb(51, 53, 54);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Portfolio .heading span{
    color: #000;
}

#Portfolio  .card5 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
}
#Portfolio  .card5 .web1 ,.web2 ,.web3{
    border: 2px solid black;
    width: 280px;
    height: 230px;
    border-radius: 10px;
    box-shadow:10px 10px 10px black;
}
#Portfolio .card5 .web1 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: 60px;
    top: 10px;
    border: 4px solid black;
}
#Portfolio .card5 .web1 h3{
    position: relative;
    top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 53, 54);;
}
#Portfolio .card5 .web2 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: 60px;
    top: 10px;
    border: 4px solid black;
}
#Portfolio .card5 .web2 h3{
    position: relative;
    top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 53, 54);;
}
#Portfolio .card5 .web3 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: 60px;
    top: 10px;
    border: 4px solid black;
}
#Portfolio .card5 .web3 h3{
    position: relative;
    top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 53, 54);
}
@media only screen and (max-width:375px){
    #Portfolio  .card5{
        display: block;
        position: relative;
        left: 50px;
        top: 580px;
    }
    #Portfolio .heading {
        position: relative;
        top: 500px;
    }
    #Portfolio .card5 .web3{
        position: relative;
        top: 80px;
    }
    #Portfolio .card5 .web2{
        position: relative;
        top: 40px;
    } 
}
#logos .logo {
    display: flex;
    justify-content: space-evenly;
}
#logos h3{
    color: rgb(51, 53, 54);
    font-size: 36px;
}
#logos span{
    color: rgb(15, 19, 20);
    font-size: 36px;
}
#logos .logo i{
    position: relative;
    top: 50px;
    color: rgb(51, 53, 54);
    font-size: 80px;
}
#logos .logo h3{
    position: relative;
    top: 50px;
    color: #000;
    left: -45px;
}
#logos .logo .github h3{
    position: relative;
    left: -15px;
}
#logos .logo .email h3{
    position: relative;
    left: -10px;
}
@media only screen and (max-width:375px){
    #logos{
        position: relative;
        top: 1050px;
    }
    #logos .logo{
        display: block;
        justify-content: space-evenly;
        position: relative;
        left: 40%;
    }
    #logos .logo h3{
        position: relative;
        left: -150px;
    }
    #logos .logo .github h3{
        position: relative;
        left: -150px!important;
}
#logos .logo .email h3{
    position: relative;
    left: -150px!important;
}
}
  footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    top: 1800px;
    overflow: hidden;
  }
  @media only screen and (max-width:375px){
    footer{
        position: relative;
        top: 1200px;
    }
  }






